html, body {
    margin: 0;
}
body {
    margin: 0;
    padding: 0;
    background-color: #01051d;
    display: flex;
    justify-content: center;
    font-family: tahoma;
}

.wrapper {
    width: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 40fr;
    /* 1 fração para o menu, 40 frações para o conteúdo */
    grid-gap: 0px;
    /* espaçamento entre os elementos */
    height: 100dvh;
    /* altura total da página */
    grid-template-rows: 1fr auto 100px;
    /* ajuste a altura do grid para acomodar o footer */
}
.main {
    display: flex;
    flex-flow: column;
    width: 85%;
}
.menu {
    width: 15%;
    background-color: aqua;
    padding: 10px 20px 0px;
}
.header {
    background-color: rgb(5, 108, 108);
    min-height: 150px;
}
.content {
    background-color: white;
    min-height: 300px;
    padding: 20px;
}
.footer {
    background-color: rgb(99, 56, 240);
    min-height: 150px;
}